<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1><%=json['Search'][0].Title%></h1>
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>


